# Ignore system files
.DS_Store
Thumbs.db
__pycache__/
**/__pycache__/
*.py[cod]

# Ignore IDE and editor files
.vscode/

# Ignore logs and databases
**/*.log
**/*.sql
**/*.sqlite
**/*.db
finances.db

# Ignore environment and configuration files
.env
config.ini

# Ignore CSV files
**/*.csv

# Ignore Excel files
**/*.xlsx
**/*.xls
**/*.xlsm
**/*.xlsb

# Ignore PDFs
**/*.pdf

# React Frontend
finance-frontend/node_modules/
finance-frontend/build/
finance-frontend/.env.local
finance-frontend/.env.development.local
finance-frontend/.env.test.local
finance-frontend/.env.production.local
finance-frontend/npm-debug.log*
finance-frontend/yarn-debug.log*
finance-frontend/yarn-error.log*